/* 
==========================================================================
Styles Reset
========================================================================== 
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 
==========================================================================
Styles
========================================================================== 
*/


body {
  font-family: 'Roboto', sans-serif;
}

.champions-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.champions-list-item {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  display: block;
}

.champions-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag-filter-button {
  cursor: pointer;
  color: #909090;
  border: none;
  background: none;
  padding: 10px 10px;
}

.tag-filter-button:hover {
  color: #000;
}

.tag-filter-button--selected {
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid rgb(194, 144, 45);
}

.champion-search-form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.champion-search-form__input {
  background-image: url('assets/img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center left 7px;
  height: 35px;
  width: 250px;
  border: 1px solid rgb(194, 144, 45);
  padding-left: 35px;
  outline-color: rgb(194, 144, 45);
}

.full-screen-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.no-champions-notification-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* 
==========================================================================
Responsive Media Queries
========================================================================== 
*/

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .champions-page {
    width: 960px;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
