/* 
==========================================================================
Styles Reset
========================================================================== 
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 
==========================================================================
Styles
========================================================================== 
*/


body {
  font-family: 'Roboto', sans-serif;
}

.champions-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.champions-list-item {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  display: block;
}

.champions-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag-filter-button {
  cursor: pointer;
  color: #909090;
  border: none;
  background: none;
  padding: 10px 10px;
}

.tag-filter-button:hover {
  color: #000;
}

.tag-filter-button--selected {
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid rgb(194, 144, 45);
}

.champion-search-form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.champion-search-form__input {
  background-image: url('assets/img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center left 7px;
  height: 35px;
  width: 250px;
  border: 1px solid rgb(194, 144, 45);
  padding-left: 35px;
  outline-color: rgb(194, 144, 45);
}

.champion-info {
  margin-top: 20px;
  padding: 0px 15px;
}

.champion-build-links {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.champion-build-links__link {
  text-decoration: none;
}

.champion-basic-info {
  
}

.champion-basic-info__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto 0 auto;
  text-align: center;
}

.champion-basic-info__champion-name {
  font-size: 60px;
}

.champion-basic-info__champion-title {
  width: 100%;
  font-size: 30px;
}

.champion-basic-info__champion-lore {
  line-height: 25px;
  margin: 25px auto 0 auto;
  text-align: justify;
  width: 100%;
}

.champion-basic-info__champion-role {
  margin-top: 15px;
}

.champion-basic-info__difficulty {
  margin-top: 25px;
  width: 99%;
}

.champion-basic-info__difficulty .difficulty-bar {
  margin-top: 25px;
}

.champion-abilities-info {
  padding: 50px 0px;
}

.champion-abilities-info__menu {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.champion-abilities-info__description {
  width: 100%;
  margin-top: 25px;
}

.champion-abilities-info__ability-type {
  color: rgb(126, 126, 126);
  font-size: 12px;
}

.champion-abilities-info_ability-name {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.champion-abilities-info__ability-description {
  margin-top: 10px;
  font-size: 16px;
}

.champions-skins-gallery__title {
  text-align: center;
}

.champions-skins-gallery__carousel-container {
  margin-top: 20px;
}

.champions-skins-gallery__carousel-thumbnail {
  cursor: pointer;
}

.champions-skins-gallery__carousel-thumbnail .image-gallery-thumbnail-label {
  background: rgba(0, 0, 0, 0.5);
  padding: 1px;
}

.full-width-image {
  width: 100%;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.selected {
  border: 2px solid rgb(208, 168, 92) !important;
}

.full-screen-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.no-champions-notification-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.champion-ability-video-container {
  text-align: center;
}

.champion-ability-video {
  width: 100%;
}

.role-svg {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  padding: 5px;
  fill: rgb(208, 168, 92);
}


.difficulty-bar {
  display: flex;
  border: 1px solid #ccc;
  width: 100%;
}

.difficulty-bar__fill {
  border-right: 1px solid #051e3e;
  height: 25px;
  width: 10%;
}

.difficulty-bar__fill:last-of-type {
  border: none;
}

.difficulty-bar__fill--brown {
  background-color: rgba(194, 144, 45, 0.7);
}

.difficulty-bar__fill--gray {
  background-color: #9E9E9e;
}

/* .carousel-caption-text {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
} */

/* 
==========================================================================
Responsive Media Queries
========================================================================== 
*/

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .carousel-caption-text {
    font-size: 22px;
  }

  .champion-ability-video {
    width: 65%;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  
  .carousel-caption-text {
    font-size: 25px;
  }

  .champion-basic-info__info {
    width: 70%;
  }

  .champion-basic-info__champion-lore {
    line-height: 35px;
    text-align: center;
  }

  .champion-ability-video {
    width: 50%;
  }
  
  .champion-build-links {
    width: 100%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
