/* 
==========================================================================
Styles Reset
========================================================================== 
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 
==========================================================================
Styles
========================================================================== 
*/

.champions-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.champions-list-item {
  padding: 15px;
  cursor: pointer;
}

.champions-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag-filter-button {
  cursor: pointer;
}

.tag-filter-button--selected {
  background-color: red;
}

/* 
==========================================================================
Responsive Media Queries
========================================================================== 
*/

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
